@import "../variables.scss";
@import "../mixin.scss";

.advantages {
	padding-top: 30px;
}

.advantages-title {
    text-align: center;
    font-size: 2em;
    padding-bottom: 10px;
    color: $dark-purple;
}

.advantages__unit-container {
	display: flex;
	flex-direction: column;
	margin: 1%;
	min-height: 400px;

	border: 1px solid rgb(217, 217, 217);
	border-radius: 5%;
	overflow: hidden;
	box-shadow: 0 0 3px 1px #cccccc;
	background-color: #ffffff;
	&:hover {
		box-shadow: none;
		transition: 0.3s;
	}
}

.advantages__unit-title {
	@include padding-left-right(30px, 30px);
	padding-top: 20px;
	text-align: center;
	overflow: hidden;
	@include font-size(20px, 26px);
}

.advantages__pic {
	@include padding-top-bottom(5px, 5px);
	height: 45%;
	width: 45%;
	margin: 0 auto;
}

.advantages__article-container {
	padding-top: 3%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 3%;
	display: flex;
	flex-direction: column;
	background: #ffffff;
	& .advantages__article {
		@include zero-style();
		font-size: 1em ;
	}
}

.advantages__btn {
	width: 80%;
	margin-top: 3%;
	margin-bottom: 3%;
	display: block;
	margin: 0 auto;
    @include padding-left-right (20px, 20px);
    @include padding-top-bottom (15px, 15px);
    @include font-size (18px, 30px);
    text-transform: uppercase;
    color: $main-font-color;
    background-color: $submit-btn-bg;
    font-family: inherit;
    outline: none;
    border-radius: 30px;
    color: $main-font-color;
    cursor: pointer;
    text-align: center;
    text-decoration: none !important;
    &:hover {
            background-color: #ffeb81;
            transition: 0.3s;
            color: $btn-hover-color;

      }
    &:active {
            color: rgba(255, 255, 255, 0.3);
            transition: 0.3s;
      }
}

@media ($tablet-widths) {
	.advantages__btn {
		max-width: 350px;
	}
}
