@import "../variables.scss";
@import "../mixin.scss";

.faq__wrapper {
	margin-bottom: 30px;
	background-color: #ffffff;
	padding-bottom: 5%;
	padding-top: 5%;
}

.faq-title {
	display: block;
	margin: 0 auto;
	@include padding-left-right(100px, 100px);
    text-align: center;
    font-size: 2em;
    line-height: 24px; 
    padding-bottom: 20px;
    color: $dark-purple;
}

.faq__accordion-container {
	margin: 0 auto;
	width: 100%;
}

.accordion {
	position: relative;
	background-color: #ffffff;
	color: #000000;
	cursor: pointer;
	padding: 18px;
	padding-right: 55px;
	width: 100%;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	border: none;
	border-bottom: 1px solid $submit-btn-bg;
	@include font-size(22px, 24px);
}

.accordion:nth-child(1) {
	border-top: 1px solid $submit-btn-bg;
}

.active-accordion, .accordion:hover {
	background-color: $dark-purple;
	color: #ffffff;
	transition: 0.4s;
}

.accordion:after {
	@include before-elem();
	left: auto;
	right: 20px;
	top: 15px;
	width: 30px;
	height: 30px;
	background-image: url("../img/left-angle-bracket.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(-90deg);
}

.active-accordion:after {
	transform: rotate(90deg);
}

.accordion:hover:after {
	color: #ffffff;
	transition: 0.4s;
}


.panel {
	padding: 0 18px;
	background-color: $section-background;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.faq__article {
	@include zero-style();
	padding: 20px;
	color: $main-font-color;
	@include font-size(18px, 20px);
	letter-spacing: 0.5px;
	& a {
		padding-left: 2px;
		padding-right: 2px;
		background-color: #ffffff;
		text-decoration: none;
		border: 1px solid #cccccc;
		border-radius: 8px;
		color: $main-font-color;
	}
	& a:hover {
		background-color: $light-blue-theme;
		color: #ffffff;
		transition: 0.3s;
	}
}


@media ($tablet-widths) {
	.faq__accordion-container {
		width: 70%;
	}
}