@import "../variables.scss";
@import "../mixin.scss";

.form-top {
    padding: 0;
    border-top: 4px solid #ffffff;
    background-color: #ffffff;
}

.form-top-container {
    margin: 0;
}

.form-wrapper {
    background: #ffffff;
    @include padding-top-bottom(20px, 20px);
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    @include padding-left-right (15px, 15px);
}

.form__fields {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    & label {
        margin-bottom: 25px;
        width: 80%;
    }
}

.form__intro-field {
    @include input-field();
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
}

.form__btn {
    @include padding-left-right (20px, 20px);
    @include padding-top-bottom (15px, 15px);
    @include font-size (18px, 30px);
    text-transform: uppercase;
    color: #ffffff;
    background-color: $submit-btn-bg;
    font-family: inherit;
    outline: none;
    border-radius: 30px;
    color: $main-font-color;
    cursor: pointer;
    &:hover {
            background-color: #ffeb81;
            transition: 0.3s;
            color: $btn-hover-color;
      }
    &:active {
            color: rgba(255, 255, 255, 0.3);
            transition: 0.3s;
      }
}

.intro__form-container {
    margin-top: 10px;
}

.intro__form-title {
    text-align: center;
    font-size: 2em; 
    padding-bottom: 10px;
}

.intro__form-article {
    text-align: center;
    font-size: 1.2em; 
    @include padding-left-right(30px, 30px);  
}

.form-top__picture {
    display: none;
    position: relative;
}



@media ($tablet-widths) {
    .form-top {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
}

    .form-top__picture {
    display: block;
    background-position: center;
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-image: url("../img/form-top-pic2.jpg");
    & .form-top__picture-depict {
        position: absolute;
        top: 10%;
        left: 10%;
        @include padding-top-bottom (10px, 10px);
        @include padding-left-right (5px, 5px);
        background-color: $submit-btn-bg;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        letter-spacing: 1px;
    }
}
}

@media ($desktop-widths) {
    .form-top {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.form-top__picture {

    background-size: 90% 100%;

}
}
