@import "../variables";
@import "../mixin";

.select-price {
	margin-top: 30px;
	position: relative;
}

.select-price__tabs-container {
	margin-top: 30px;
}

.select-price {
	background-color: #ffffff;
}

.select-price-btn {
	@include link-btn();
	@include padding-left-right (15px, 15px);
    @include padding-top-bottom (15px, 15px);
    @include font-size (16px, 18px);
    text-decoration: none !important;
    min-height: 45px;
    &:hover {
    	color: #000000;
    }
}

.select-price__title {
	padding-top: 30px;
	text-align: center;
	@include font-size(35px, 36px);
	margin-bottom: 30px;
	color: $dark-purple;
}

.select-price__article {
	@include padding-left-right(5%, 5%);

	@include zero-style();
	@include font-size(22px, 24px);
	text-align: center;
}

.tabcontent__item {
	border: 1px solid #cccccc;
	border-radius: 10px;
	padding: 4%;
	box-shadow: 0 0 3px 1px #cccccc;
	margin-bottom: 20px;
}

.tabcontent__item-picture {
  margin: 0 auto;
	margin-bottom: 20px;
  width: 100%;
}

/* Style the tab */
.tab {
	overflow: hidden;
	background: #202242;
}



/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	border-color: #ffffff;
	font-size: 1em;
	font-family: inherit;
	&:hover {
		color: $submit-btn-bg;
	}
}

.button-container {
	@include padding-left-right(0, 0);
	//box-shadow: 0 1px 3px 1px #cccccc;
}

.select-price__tab-header {
	color:#ffffff;
	font-weight: bold;
	@include font-size(18px, 24px);
	letter-spacing: 0.5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: rgba(207, 207, 207, 0.5);
	transition: 0.3s;
}

/* Create an active/current tablink class */
.tabs-container {
	margin: 0;
	padding: 0;
}

.tab button.active {
	background-color: rgba(207, 207, 207, 0.5);
	color: $main-font-color;
	background-color: $submit-btn-bg;
}

/* Style the tab content */
.tabcontent {
	display: flex;
	padding: 16px 30px;
	border-top: none;
}

.tabcontent__title {
	@include zero-style();
	text-align: center;
	padding-bottom: 10px;
}

.tabcontent {
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.select-price__btn-container {
	display: flex;
	justify-content: center;
}

.select-price__price-list {
	@include zero-style();
}

.select-price__price-list-item {
	position: relative;
	margin-bottom: 20px;
	padding-left: 25px;
	color: #000000;
	@include font-size(18px,20px);
	&::before {
		@include before-elem();
		width: 13px;
		height: 13px;
		top: 4px;
		background-color: $submit-btn-bg;
		border-radius: 50%;
		border: 2px solid #000000;
		box-shadow: 0 0 3px 1px #cccccc;
	}
}

.select-price__price {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 30px;
	font-weight: 700;
	color: #202242;
	@include font-size(28px, 25px);
	& sup {
    top: -.2em;
}
}




/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media ($tablet-widths) {
	.select-price__article {
		@include padding-left-right(15%, 15%);
	}

}

@media ($tablet-widths) {
.tabcontent__content-container {
  display: flex;
  justify-content:space-around;
}

.tabcontent__item {
  padding-bottom: 10px;
}

.tabcontent__item-picture {
  margin-right: 5%;
}
}
