@import 'scafolding';
@import 'blocks/intro';
@import 'blocks/page-header';
@import 'blocks/form-top';
@import 'blocks/advantages';
@import 'blocks/page-footer';
@import 'blocks/price';
@import 'blocks/gallery';
@import 'blocks/work-path';
@import 'blocks/discount';
@import 'blocks/faq';
@import 'blocks/seo';
@import 'blocks/modal-window';
@import 'blocks/form-bottom';
@import 'blocks/carpet-calc';
