
$tablet-widths: "min-width: 720px";
$desktop-widths: "min-width: 1140px";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

$body-bg: #ececec;

$main-font-size: 14px;

$main-line-height: 20px;

$main-font-color: #2d2d2d;

$header-color: #000000;

$btn-hover-color: #000000;

$submit-btn-bg: #ffe13e;

$light-blue-theme: #049aff;

$section-background: #e7ebfc;

$font-color-white: #ffffff;

$dark-purple: #202242;

@keyframes modal-bounce {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
};

@keyframes main-nav-after-bounce {
    0% {
        transform: translateX(-10px);
    }
  
    50% {
        transform: translateX(10px);
    }
  
    100% {
        transform: translateX(0px);
    }
};

@keyframes main-picture-bounce {
    0% {
        transform: translateY(-120px);
    }
    
    50% {
        transform: translateY(0px);
    }
    
    100% {
        transform: translateY(0px);
    }
};